:root {
  --white-color: rgba(255, 255, 255, 1);
  --main-color: rgba(255, 245, 246, 1);
  --header-color: rgba(255, 184, 202, 1);
  --mobile-menu-color: rgba(225, 121, 146, 1);
  --red-color: rgba(212, 20, 67, 1);
  --coffee-color :rgba(240, 209, 165, 1);
  --green-color: rgba(194, 226, 151, 1);
  --hover-color: rgba(236, 235, 235, 1);
  --focus-color: rgba(199, 19, 62, 1);
  --circle-color: rgba(255, 165, 186, 1);
  --silver-color: rgba(217, 217, 217, 1);
  --copyright-color: rgba(144, 126, 130, 1);
  --footer-contact-color: rgba(0, 0, 0, 1);
  --border-menu-color: rgba(225, 130, 152, 1);
  
}