<section class="advantages" id="howitsmade">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <div class="advantages__container container">
        <ul class="advantages__list list">
            <li class="advantages__item" data-aos="zoom-in" data-aos-duration="2500">
                <h2 class="advantages__item-title title__before--1">721</h2>
                <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item" data-aos="zoom-in" data-aos-duration="2500">
                <h2 class="advantages__item-title title__before--2">16 kg</h2>
                <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item" data-aos="zoom-in" data-aos-duration="2500">
                <h2 class="advantages__item-title title__before--3">84</h2>
                <p class="advantages__item-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>