    <section class="advantages">
        <h2 class="visually-hidden">Наши преимущества</h2>
        <div class="container">
            <div class="advantages__items">
                <div class="advantages__block">
                    <div class="advantages__item-icon1">
                        <picture>
                            <source
                                srcset="./images/advantages/icon1@1x-desktop.png, ./images/advantages/icon1@2x-desktop.png"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./images/advantages/icon1@1x-tablet.png, ./images/advantages/icon1@2x-tablet.png"
                                media="(min-width: 768px)">
                            <source
                                srcset="./images/advantages/icon1@1x-mobile.png, ./images/advantages/icon1@2x-mobile.png"
                                media="(max-width: 767px)">
                            <img src="#" alt="icon1">
                        </picture>
                    </div>
                    <h2 class="advantages__item-title">721</h2>
                    <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

                </div>
                <div class="advantages__block">
                    <div class="advantages__item-icon2">
                        <picture>
                            <source
                                srcset="./images/advantages/icon2@1x-desktop.png, ./images/advantages/icon2@2x-desktop.png"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./images/advantages/icon2@1x-tablet.png, ./images/advantages/icon2@2x-tablet.png"
                                media="(min-width: 768px)">
                            <source
                                srcset="./images/advantages/icon2@1x-mobile.png, ./images/advantages/icon2@2x-mobile.png"
                                media="(max-width: 767px)">
                            <img src="#" alt="icon2">
                        </picture>
                    </div>
                    <h2 class="advantages__item-title">16 kg</h2>
                    <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
                <div class="advantages__block">
                    <div class="advantages__item-icon3">
                        <picture>
                            <source
                                srcset="./images/advantages/icon3@1x-desktop.png, ./images/advantages/icon3@2x-desktop.png"
                                media="(min-width: 1280px)">
                            <source
                                srcset="./images/advantages/icon3@1x-tablet.png, ./images/advantages/icon3@2x-tablet.png"
                                media="(min-width: 768px)">
                            <source
                                srcset="./images/advantages/icon3@1x-mobile.png, ./images/advantages/icon3@2x-mobile.png"
                                media="(max-width: 767px)">
                            <img src="#" alt="icon3">
                        </picture>
                    </div>
                    <h2 class="advantages__item-title">84</h2>
                    <p class="advantages__item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>

                </div>
            </div>
        </div>
    </section>

