<section class="contacts section">
    <div class="container">
        <h2 class="section__title visually-hidden">Locations</h2>
        <ul class="locations__list">
            <li class="locations__item">
                <p class="location__category">CAFE</p>
                <h3 class="location__place">Chicago</h3>
                <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <p class="location__days">Monday - Friday</p>
                <time class="location__time">06:00 AM - 10:00 PM</time>
                <p class="location__days">Saturday - Sunday</p>
                <time class="location__time">08:00 AM - 16:00 PM</time>
                <hr class="line">
                <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
            </li>
            <li class="locations__item">
                <p class="location__category">FOOD TRUCK</p>
                <h3 class="location__place">Los Angeles</h3>
                <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <p class="location__days">Monday - Friday</p>
                <time class="location__time">06:00 AM - 10:00 PM</time>
                <p class="location__days">Saturday - Sunday</p>
                <time class="location__time">08:00 AM - 16:00 PM</time>
                <hr class="line">
                <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
            </li>
            <li class="locations__item">
                <p class="location__category">CAFE</p>
                <h3 class="location__place">New York</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <p class="location__days">Monday - Friday</p>
                <time class="location__time">06:00 AM - 10:00 PM</time>
                <p class="location__days">Saturday - Sunday</p>
                <time class="location__time">08:00 AM - 16:00 PM</time>
                <hr class="line">
                <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
            </li>
        </ul>
        <button>Our Locations</button>
        <button>Franchise</button>
    </div>
</section>