<section class="contacts section" id="contact">
    <div class="container">
        <h2 class="section__title visually-hidden">Locations</h2>
        <ul class="locations__list">
            <li class="locations__item" data-aos="fade-up"            
            data-aos-duration="250">
                <p class="location__category">CAFE</p>
                <h3 class="location__place">Chicago</h3>
                <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <div class="working-time">
                    <div class="weekdays">
                        <p class="location__days">Monday - Friday</p>
                        <time class="location__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <p class="location__days">Saturday - Sunday</p>
                    <time class="location__time">08:00 AM - 16:00 PM</time>
                </div>
                <hr class="line">
                <div class="location__contacts">
                    <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="locations__item" data-aos="fade-up"
            data-aos-duration="500">
                <p class="location__category truck">FOOD TRUCK</p>
                <h3 class="location__place">Los Angeles</h3>
                <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <div class="working-time">
                    <div class="weekdays">
                        <p class="location__days">Monday - Friday</p>
                        <time class="location__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <p class="location__days">Saturday - Sunday</p>
                    <time class="location__time">08:00 AM - 16:00 PM</time>
                </div>
                <hr class="line">
                <div class="location__contacts">
                    <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
                </div>
            </li>
            <li class="locations__item" data-aos="fade-up"
            data-aos-duration="750">
                <p class="location__category">CAFE</p>
                <h3 class="location__place">New York</h3>
                <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr class="line">
                <div class="working-time">
                    <div class="weekdays">
                        <p class="location__days">Monday - Friday</p>
                        <time class="location__time">06:00 AM - 10:00 PM</time>
                    </div>

                    <p class="location__days">Saturday - Sunday</p>
                    <time class="location__time">08:00 AM - 16:00 PM</time>
                </div>
                <hr class="line">
                <div class="location__contacts">
                    <a href="tel:+610383766284" class="location__link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location__link">noreply@envato.com</a>
                </div>

            </li>
        </ul>

        <ul class="contacts-btns__list" data-aos="fade-up"
        data-aos-duration="750">
            <li>
                <button class="contacts__button">
                    Our Locations
                    <svg class="icon-vector" width="10" height="20">
                        <use href="./images/svg/sprite-project.svg#vector"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="contacts__button white">
                    Franchise
                    <svg class="icon-vector red" width="10" height="20">
                        <use href="./images/svg/sprite-project.svg#vector"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>