<!--FOOTER-->
<footer class="footer">
  <div class="container container-footer">
    <div class="footer-box">
      <div class="footer-text" data-aos="zoom-in-down" data-aos-anchor-placement="bottom" data-aos-duration="750">
        <p class="footer-text__label">homemade ice cream made</p>
        <h2 class="footer-text__title">with passion</h2>
      </div>

      <div class="footer-social" data-aos="zoom-in-down" data-aos-anchor-placement="bottom" data-aos-duration="750">
        <ul class="footer-social__list list">
          <li class="footer-social__item">
            <a href="https://github.com" target="_blank">
              <svg class="footer-social__icon">
                <use href="./images/svg/sprite-project.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="https://t.me/junior_developer_ua" target="_blank">
              <svg class="footer-social__icon">
                <use href="./images/svg/sprite-project.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="https://www.facebook.com" target="_blank">
              <svg class="footer-social__icon">
                <use href="./images/svg/sprite-project.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="footer-address">
          <!-- <p class="footer-address__text">Feel free to contact</p> -->
          <a class="footer-address_tel" href="tel:+61(0)383766284"
            ><span class="footer-address__tel-bold">Feel free to contact</span> +61 (0) 383 766
            284</a
          >
        </address>
      </div>
    </div>
  </div>
  <div class="copyrigh">
    <p class="copyrigh__text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
