<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="close-button" style="width: 18px; height: 18px">
        <use href="./images/svg/sprite-project.svg#icon-close"></use>
      </svg>
    </button>
    <form action="#" class="modal-form">
      <p class="modal-form__head">Оставьте свои данные, мы вам перезвоним</p>
      <label class="modal-form__field">
        <span class="modal-form__name">Имя</span>
        <span class="modal-form__wrapper">
          <input type="text" name="user-name" class="modal-form__input" required minlength="2" />
          <!-- <svg class="modal-form__icon" style="width: 18px; height: 18px">
            <use href="../images/svg/person-black-18dp-1.svg"></use>
          </svg> -->
        </span>
      </label>
      <p class="modal-form__name">Телефон</p>
      <label class="modal-form__field">
        <span class="modal-form__wrapper">
          <input
            type="tel"
            name="user-phone"
            class="modal-form__input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="093-111-11-11"
          />
          <!-- <svg class="modal-form__icon" style="width: 18px; height: 18px">
            <use href="./images/svg/sprite-modal.svg#icon-phone-black-18dp-1"></use>
          </svg> -->
        </span>
      </label>
      <p class="modal-form__name">Почта</p>
      <label class="modal-form__field">
        <span class="modal-form__wrapper">
          <input type="email" name="user-mail" class="modal-form__input" required />
          <!-- <svg class="modal-form__icon" style="width: 18px; height: 18px">
            <use href="./images/sprite-modal.svg#icon-email-black-18dp-1"></use>
          </svg> -->
        </span>
      </label>
      <p class="modal-form__name">Комментарий</p>
      <label class="modal-form__field">
        <textarea
          name="user-message"
          class="modal-form__message"
          placeholder="Введите текст"
        ></textarea>
      </label>

      <input
        type="checkbox"
        name="user-policy"
        class="modal-form-checkbox visually-hidden"
        id="checkbox-policy"
        required
      />
      <label for="checkbox-policy" class="modal-form-checkbox-policy">
        Соглашаюсь с рассылкой и принимаю
        <a href="" class="modal-form-policy-link">Условия договора</a>
      </label>
      <div class="modal-button">
        <button type="submit" class="modal-form-btn">Отправить</button>
      </div>
    </form>
  </div>
</div>
