<section class="gallery section">
  <div class="gallery_wrapper container">
    <picture>
      <source
        srcset="
          ./images/gallery/gallery-desctop-pic.webp    1x,
          ./images/gallery/gallery-desctop-pic@2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="images/webp"
      />
      <source
        srcset="
          ./images/gallery/gallery-desctop-pic.jpg    1x,
          ./images/gallery/gallery-desctop-pic@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./images/gallery/gallery-tab-pic.webp    1x,
          ./images/gallery/gallery-tab-pic@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="images/webp"
      />
      <source
        srcset="./images/gallery/gallery-tab-pic.jpg 1x, ./images/gallery/gallery-tab-pic@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery-mob-pic.webp    1x,
          ./images/gallery/gallery-mob-pic@2x.webp 2x
        "
        media="(min-width: 320px)"
        type="images/webp"
      />
      <source
        srcset="./images/gallery/gallery-mob-pic.jpg 1x, ./images/gallery/gallery-mob-pic@2x.jpg 2x"
        media="(min-width: 320px)"
      />
      <img src="#" alt="photo gallery" class="gallery__img" />
    </picture>
  </div>
</section>
