  <header class="header">
    <div class="container container--header">
      <a class="header__logo link" href="">LOGO</a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link link" href="">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">How it's made?</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">Our products</a>
          </li>
          <li class="header__item">
            <a class="header__link link" href="">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="menu-open">меню</button>
      <button type="button" class="button button--header">Buy now</button>
      <div class="mobile-menu is--hidden">
        <button type="button" class="menu-close">close
          <!-- <svg>
            <use ></use>
          </svg> -->
        </button>
        <button type="button" class="button button--menu">Buy now</button>
        <nav class="mobile-menu__nav">
          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a class="mobile-menu__link link" href="">Home</a>
            </li>
            <li class="mobile-menu__item">
              <a class="mobile-menu__link link" href="">About us</a>
            </li>
            <li class="mobile-menu__item">
              <a class="mobile-menu__link link" href="">How it's made?</a>
            </li>
            <li class="mobile-menu__item">
              <a class="mobile-menu__link link" href="">Our products</a>
            </li>
            <li class="mobile-menu__item">
              <a class="mobile-menu__link link" href="">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>