<section class="hero">
  <div class="container container--hero">
    <h1 class="hero__title" data-aos="fade-right" data-aos-duration="1500">ice cream made with<span class="hero__title--red"> passion</span></h1>
    <picture class="hero__picture" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
      <source srcset="./images/hero/ice-hero@1x-desktop.png 1x, ./images/hero/ice-hero@2x-desktop.png 2x" media="(min-width: 1280px)">

      <source srcset="./images/hero/ice-hero@1x-tablet.png 1x, ./images/hero/ice-hero@2x-tablet.png 2x" media="(min-width: 768px)">

      <source srcset="./images/hero/ice-hero@1x-mobile.png 1x, ./images/hero/ice-hero@2x-mobile.png 2x" media="(max-width: 767px)">

      <img src="./images/hero/ice-hero@1x-mobile.png" alt="ice cream">
    </picture>
    <picture class="hero__ellipse">
      <source srcset="./images/hero/ellipse-hero@1x-desktop.png 1x, ./images/hero/ellipse-hero@2x-desktop.png 2x" media="(min-width: 1280px)">

      <source srcset="./images/hero/ellipse-hero@1x-tablet.png 1x, ./images/hero/ellipse-hero@2x-tablet.png 2x" media="(min-width: 768px)">

      <source srcset="./images/hero/ellipse-hero@1x-mobile.png 1x, ./images/hero/ellipse-hero@2x-mobile.png 2x" media="(max-width: 767px)">

      <img src="./images/hero/ellipse-hero@1x-mobile.png" alt="">
    </picture>
    <div class="hero__button" data-aos="fade-right" data-aos-duration="1500">
      <button type="button" class="button button--red">Products</button>
      <button type="button" class="button button--white">How it’s made?</button>
    </div>
    <picture class="hero__kuvshin" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
      <source srcset="./images/hero/kuvshin-hero@1x-desktop.png 1x, ./images/hero/kuvshin-hero@2x-desktop.png 2x" media="(min-width: 1280px)">

      <source srcset="./images/hero/kuvshin-hero@1x-tablet.png 1x, ./images/hero/kuvshin-hero@2x-tablet.png 2x" media="(min-width: 768px)">

      <img src="./images/hero/kuvshin-hero@1x-tablet.png" alt="">
    </picture>
    <p class="hero__text" data-aos="fade-up-right" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <a href="" class="hero__link"  data-aos="fade-up"
    data-aos-anchor-placement="top-bottom" data-aos-duration="1500">
      <svg class="hero__icon__link" width="8" height="10">
        <use href="./images/svg/sprite-project.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <picture class="hero__girl" data-aos="fade-up-left" data-aos-duration="1500">
      <source srcset="./images/hero/girl-hero@1x-desktop.png 1x, ./images/hero/girl-hero@2x-desktop.png 2x" media="(min-width: 1280px)">

      <source srcset="./images/hero/girl-hero@1x-tablet.png 1x, ./images/hero/girl-hero@2x-tablet.png 2x" media="(min-width: 768px)">

      <img src="./images/hero/girl-hero@1x-tablet.png" alt="">
    </picture>
    <div class="advantage" data-aos="fade-left" data-aos-duration="1500">
      <div class="advantage__cafe">
        <h2 class="advantage__title">16</h2>
        <p class="advantage__text">cafes</p>
      </div>
      <div class="advantage__track">
        <h2 class="advantage__title">23</h2>
        <p class="advantage__text">food tracks</p>
      </div>
    </div>

  </div>

</section>