<section class="products section">
    <div class="container">
        <p class="products__quality">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="container__list-card">
            <li class="container__card-product container__card-product_color-one" data-aos="flip-left" data-aos-duration="500">
                <picture class="container__list-card_item-1">
                    <source
                        srcset="./images/products/icecream-products@1x-desktop.png 1x, ./images/products/icecream-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/icecream-products@1x-tablet.png 1x, ./images/products/icecream-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/icecream-products@1x-mobile.png 1x, ./images/products/icecream-products@2x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="ice cream">
                </picture>
                <h3 class="products__name">ice cream</h3>
                <ul class="products__name_list-markers">
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                </ul>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                <button class="products__btn">
                    <svg class="icon-btn">
                        <use href="./images/svg/sprite-project.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="container__card-product container__card-product_color-two" data-aos="flip-left" data-aos-duration="1000">
                <picture class="container__list-card_item-2">
                    <source
                        srcset="./images/products/icecoffee-products@1x-desktop.png 1x, ./images/products/icecoffee-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/icecoffee-products@1x-tablet.png 1x, ./images/products/icecoffee-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/icecoffee-products@1x-mobile.png 1x, ./images/products/icecoffee-products@2x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="ice coffee">
                </picture>
                <h3 class="products__name">ice coffee</h3>
                <ul class="products__name_list-markers">
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                </ul>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                <button class="products__btn">
                    <svg class="icon-btn">
                        <use href="./images/svg/sprite-project.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="container__card-product container__card-product_color-three" data-aos="flip-left" data-aos-duration="1500">
                <picture class="container__list-card_item-3">
                    <source
                        srcset="./images/products/milkshakes-products@1x-desktop.png 1x, ./images/products/milkshakes-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/milkshakes-products@1x-tablet.png 1x, ./images/products/milkshakes-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/milkshakes-products@1x-mobile.png 1x, ./images/products/milkshakes-products@2x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="milkshakes">
                </picture>
                <h3 class="products__name">milkshakes</h3>
                <ul class="products__name_list-markers">
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                    <li class="products__name_markers"></li>
                </ul>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                <button class="products__btn">
                    <svg class="icon-btn">
                        <use href="./images/svg/sprite-project.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>