<section class="products section">
    <p class="products__quality">100% natural</p>
    <h2 class="products__title">products</h2>
    <div class="container">
        <div class="container__card-product container__card-product_color-one ">
            <img src="" alt="ice cream">
            <h3 class="products__name">ice cream</h3>
            <div class="products__description-block">
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. <span class="products__description_addition">dolore magna
                        aliqua facilisis.</span></p>
            </div>
            <button class="products__btn">___</button>
        </div>
        <div class="container__card-product container__card-product_color-two">
            <img src="" alt="ice cream">
            <h3 class="products__name">ice cream</h3>
            <div class="products__description-block">
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. <span class="products__description_addition">dolore magna
                        aliqua facilisis.</span></p>
            </div>
            <button class="products__btn">___</button>
        </div>
        <div class="container__card-product container__card-product_color-three">
            <img src="" alt="ice cream">
            <h3 class="products__name">ice cream</h3>
            <div class="products__description-block">
                <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. <span class="products__description_addition">dolore magna
                        aliqua facilisis.</span></p>
            </div>
            <button class="products__btn">___</button>
        </div>
    </div>
    
</section>
 