<section class="products section">
    <div class="container">
        <p class="products__quality">100% natural</p>
        <h2 class="products__title">products</h2>
        <div class="container__list-card">
            <div class="container__card-product container__card-product_color-one">
                <picture>
                    <source
                        srcset="./images/products/icecream-products@1x-desktop.png 1x, ./images/products/icecream-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/icecream-products@1x-tablet.png 1x, ./images/products/icecream-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/icecream-products@1x-mobile.png 1x, ./images/products/icecream-products@1x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="ice cream">
                </picture>
                <h3 class="products__name">ice cream</h3>
                <div class="products__description-block">
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                </div>
                <button class="products__btn">___</button>
            </div>
            <div class="container__card-product container__card-product_color-two">
                <picture>
                    <source
                        srcset="./images/products/icecoffee-products@1x-desktop.png 1x, ./images/products/icecoffee-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/icecoffee-products@1x-tablet.png 1x, ./images/products/icecoffee-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/icecoffee-products@1x-mobile.png 1x, ./images/products/icecoffee-products@2x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="ice coffee">
                </picture>
                <h3 class="products__name">ice coffee</h3>
                <div class="products__description-block">
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                </div>
                <button class="products__btn">___</button>
            </div>
            <div class="container__card-product container__card-product_color-three">
                <picture>
                    <source
                        srcset="./images/products/milkshakes-products@1x-desktop.png 1x, ./images/products/milkshakes-products@2x-desktop.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./images/products/milkshakes-products@1x-tablet.png 1x, ./images/products/milkshakes-products@2x-tablet.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./images/products/milkshakes-products@1x-mobile.png 1x, ./images/products/milkshakes-products@2x-mobile.png 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="milkshakes">
                </picture>
                <h3 class="products__name">milkshakes</h3>
                <div class="products__description-block">
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. <span class="products__description_addition">dolore magna
                            aliqua facilisis.</span></p>
                </div>
                <button class="products__btn">___</button>
            </div>
        </div>  
    </div>
</section>
 