// стили для стандартной кнопки.

.button {
  display: block;
  text-align: center;
  height: 44px;
  width: 160px;
  background-color: var(--white-color);
  color: var(--red-color);
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;

}
.button-red {
  display: block;
  text-align: center;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
}

.button-white {
  display: block;
  text-align: center;
  background-color: var(--white-color);
  color: var(--red-color);
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;

}

