// section about //

.about {
  display: block;
  text-align: center;
  background-color: var(--main-color);
  padding-top: 125px;
  padding-bottom: 39px;
  background-image: url(/images/about/background-milk@1x-mobile.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: contain;
  position: relative;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .about {
    background-image: url(/images/about/background-milk@2x-mobile.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    background-image: url(/images/about/background-milk@1x-desktop.png);
    background-position: 120% 120%;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .about {
    background-image: url(/images/about/background-milk@2x-desktop.png);
  }
}
.about_section {
  display: block;
}
@media screen and (min-width: 768px) {
  .about_section {
    display: flex;
    justify-content: space-between;
  }
}
.about-label {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--circle-color);
}
.about_title {
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: var(--red-color);
}
@media screen and (min-width: 768px) {
  .about_title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about_title {
    margin-bottom: 55px;
  }
}
.about_picture {
  display: inline-block;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about_picture {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about_picture {
    flex-basis: 516px;
  }
}
@media screen and (min-width: 768px) {
  .about_text {
    text-align: left;
    flex-basis: 340px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about_text {
    flex-basis: 465px;
    align-self: center;
    margin-top: 0;
  }
}
.about_description {
  font-size: 12px;
  line-height: 1.62;
  color: var(--footer-contact-color);
  text-align: left;
  margin-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .about_description {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 768px) {
  .first-text {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .first-text {
    font-size: 16px;
  }
}
.second-text {
  color: var(--copyright-color);
}
@media screen and (min-width: 768px) {
  .second-text {
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .second-text {
    line-height: 1.94;
    margin-bottom: 45px;
  }
}
.about_button {
  width: 176px;
  font-size: 14px;
  line-height: 1.3;
  padding: 0 37px;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
@media screen and (max-width: 767px) {
  .about_button {
    margin: auto;
  }
}
.about_button-icon {
  margin-left: 13px;
  fill: rgba(212, 20, 67, 1);
}

// modal window  //

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 280px;
  height: 500px;
  background-color: var(--main-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/about/background-milk@1x-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
    height: 600px;
  }
}
.modal__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--main-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-form {
  padding: 40px;
}
.modal-form__head {
  font-family: Titan One;
  font-size: 19px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: var(--circle-color);
  text-align: center;
}
.modal-form_text {
  margin: 0;
  text-indent: 5%;
  font-size: 14px;
  line-height: 1.89;
}
