.about {
  display: block;
  text-align: center;
  background-color: var(--main-color);
  padding-top: 125px;
  padding-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    padding-top: 130px;
    padding-bottom: 66px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 125px;
    padding-bottom: 146px;
  }
}
.about-label {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0, 04em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--circle-color);
}
.about_title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0, 04em;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: var(--red-color);
}
@media screen and (min-width: 768px) {
  .about_title {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about_title {
    margin-bottom: 55px;
  }
}
.about_picture {
  margin-bottom: 48px;
}
.about_description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0, 04em;
  color: var(footer-contact-color);
  text-align: left;
  margin-bottom: 47px;
}
@media screen and (min-width: 1280px) {
  .about_description {
    margin-bottom: 35px;
  }
}
.text-color {
  color: var(--copyright-color);
}
.about_button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
<<<<<<< Updated upstream
  letter-spacing: 0, 04em;
  color: var(--red-color);
=======
  letter-spacing: 0.04em;
  width: 176px;
>>>>>>> Stashed changes
  padding: 0 37px;
  border: transparent;
  margin: 0 auto;
}
.about_button-icon {
  margin-left: 14px;
}
.about_button-icon {
  margin-right: 14px;
}
