.advantages{
  text-align: left;
  background-color: #fff5f6;
  padding-top: 39px;
  padding-bottom: 139px;
}

@media screen and (min-width: 720px) {
  .advantages__items{
    display: flex;
    flex-wrap:  nowrap;
    margin-left: 36px;
    
    

    .advantages__block{
     margin: 0 85px;
     min-width: 180px;
     
      }             
  

  .advantages__item-title {
      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.15;
      text-align: left;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 13px;
      color: #d41443;
}

.advantages__item-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0, 04em;
  color: #000;
  text-align: left;
  margin-bottom: 47px;
}

}


.advantages__item-icon1::before {

  content: "";
    background-image: url(./../images/advantages/icon1.png);
    background-size: cover;
    height: 50px;
    width: 33px;
    display: block;
  }
  
.advantages__item-icon2::before {

content: "";
  background-image: url(./../images/advantages/icon2.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block;
}

.advantages__item-icon3::before {

  content: "";
    background-image: url(./../images/advantages/icon3.png);
    background-size: cover;
    height: 50px;
    width: 44px;
    display: block;
  }
}