.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 
}

.advantages{
  text-align: left;
  background-color: #fff5f6;
  
}



@media screen and (min-width: 1280px) {
  .advantages{
   
    padding-top: 39px;
    padding-bottom: 139px;
    margin-bottom: -171px;
  }
  

  .advantages__items{
    display: flex;
    flex-wrap:  nowrap;
    justify-content: space-between;
    align-items: center;
    
  }
    
    

    .advantages__block{
      
     margin-right: 30px;
     min-width: calc(33,33% - 60px);
     
      }             
  
      .advantages__block:last-child {

        margin-right: 0px;

      }

  .advantages__item-title {
      
      font-size: 58px;
      line-height: 1.15;
      text-align: left;
      margin-bottom: 15px;
      color: #d41443;
}

.advantages__item-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0, 02em;
  color: #000;
  text-align: left;
  
}



.advantages__item-icon1::before {

  content: "";
    background-image: url(../images/advantages/icon1@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 33px;
    display: block;
  }
  
.advantages__item-icon2::before {

content: "";
  background-image: url(../images/advantages/icon2@1x-tablet.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block;
}

.advantages__item-icon3::before {

  content: "";
    background-image: url(../images/advantages/icon3@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 44px;
    display: block;
  }
}




@media screen and (min-width: 768px) {

  .advantages{
    
    padding-top: 39px;
    padding-bottom: 140px;
    margin-bottom: -106px;
    padding-right: 0;
    padding-left: 0;
  }

  .advantages__items{
    display: flex;
    flex-wrap:  nowrap;
    margin-left: 0;
  }
    

    .advantages__block{
     margin-right: 60px;
     min-width: 180px;
     min-width: calc(33,33% - 120px);
     
      }  
      
      .advantages__block:last-child {

        margin-right: 0;

      }
  

  .advantages__item-title {
      
      font-size: 48px;
      line-height: 1.15;
      text-align: left;
      margin-bottom: 13px;
      color: #d41443;
}

.advantages__item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0, 04em;
  color: #000;
  text-align: left;
  
}
  



.advantages__item-icon1::before {

  content: "";
    background-image: url(../images/advantages/icon1@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 33px;
    display: block;
  }
  
.advantages__item-icon2::before {

content: "";
  background-image: url(../images/advantages/icon2@1x-tablet.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block;
}

.advantages__item-icon3::before {

  content: "";
    background-image: url(../images/advantages/icon3@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 44px;
    display: block;
  }
}
  




@media screen and (max-width: 767px)
{
  .advantages{
    padding-top: 39px;
    padding-bottom: 139px;
    margin-bottom: -171px;
  }

  .advantages__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    
    

    .advantages__block{
     margin-bottom: 38px;
     min-width: 230px;
     min-width: calc(33,33% - 76px);
     
      }  
      
      .advantages__block:last-child {

        margin-bottom: 0;

      }
  

  .advantages__item-title {
      
      font-size: 36px;
      line-height: 1.15;
      text-align: left;
      margin-bottom: 0;
      color: #d41443;
}

.advantages__item-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0, 02em;
  color: #000;
  text-align: left;
  
}

 


.advantages__item-icon1::before {

  content: "";
    background-image: url(../images/advantages/icon1@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 33px;
    display: block;
  }
  
.advantages__item-icon2::before {

content: "";
  background-image: url(../images/advantages/icon2@1x-tablet.png);
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block;
}

.advantages__item-icon3::before {

  content: "";
    background-image: url(../images/advantages/icon3@1x-tablet.png);
    background-size: cover;
    height: 50px;
    width: 44px;
    display: block;
  }
}
}