@media screen and (min-width: 320px) {
  .contacts.section {
    padding-bottom: 113px;
  }
}

@media screen and (min-width: 768px) {
  .contacts.section {
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts.section {
    padding-bottom: 165px;
  }
}

@media screen and (min-width: 320px) {
  .contacts {
    background-image: linear-gradient(to top, #fff5f6, #fff5f6 95%, #ffffff 95%);
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(to top, #fff5f6, #fff5f6 91%, #ffffff 91%);
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: image-set(
        url(../images/contacts/background-pink@1x-desktop.png) 1x,
        url(../images/contacts/background-pink@2x-desktop.png) 2x
      ),
      linear-gradient(to top, #fff5f6, #fff5f6 77%, #ffffff 77%);


    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.locations__list {
  margin-left: -20px;
}

@media screen and (max-width: 767px) {
  .locations__list {
    margin-top: -20px;
  }
}

@media screen and (min-width: 320px) {
  .locations__list {
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 768px) {
  .locations__list {
    display: flex;
    margin-bottom: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .locations__list {
    margin-left: -30px;
    margin-bottom: 86px;
  }
}

.locations__item {
  margin-left: 20px;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (min-width: 320px) {
  .locations__item {
    width: calc((100% - 1 * 20px) / 1);
    padding: 43px 21px 43px 20px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .locations__item {
    width: calc((100% - 3 * 20px) / 3);
    padding: 50px 32px 50px 31px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .locations__item {
    margin-left: 30px;
    padding: 51px 44px 43px 43px;
    width: calc((100% - 3 * 30px) / 3);
  }
}

.location__category {
  display: inline-block;
  padding: 0 10px;

  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 6px;

  color: #ffffff;
  background-color: #f0d1a5;
}

@media screen and (min-width: 320px) {
  .location__category {
    margin-bottom: 25px;

    font-size: 12px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .location__category {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.9;
  }
}

@media screen and (min-width: 1280px) {
  .location__category {
    margin-bottom: 32px;
  }
}

.location__category.truck {
  background-color: #c2e297;
}

.location__place {
  font-family: DM Sans;
  font-weight: 500;
  text-transform: none;

  color: #000000;
}

@media screen and (min-width: 320px) {
  .location__place {
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .location__place {
    margin-bottom: 14px;

    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .location__place {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.9;
  }
}

.location__text {
  margin: 0;
  color: #907e82;
}

@media screen and (min-width: 320px) {
  .location__text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .location__text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .location__text {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
  }
}

.line {
  margin: 0;
  border: 1px solid #e1e1e1;
}

@media screen and (min-width: 320px) {
  .line {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .line {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .line {
    margin-bottom: 32px;
  }
}

.working-time {
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) {
  .working-time {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .working-time {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .working-time {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) {
  .weekdays {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .working-time {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .working-time {
    margin-bottom: 15px;
  }
}

.location__days {
  color: #000000;
}

@media screen and (min-width: 320px) {
  .location__days {
    font-size: 12px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .location__days {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .location__days {
    font-size: 16px;
    line-height: 1.9;
  }
}

.location__time {
  color: #ffa5ba;
}

@media screen and (min-width: 320px) {
  .location__time {
    font-size: 12px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .location__time {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .location__time {
    font-size: 16px;
    line-height: 1.9;
  }
}

.location__link {
  display: block;

  color: #907e82;
}

@media screen and (min-width: 320px) {
  .location__link {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .location__link {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .location__link {
    font-size: 16px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 768px) {
  .contacts-btns__list {
    display: flex;
    justify-content: center;
    margin-left: -15px;
  }
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;

  color: #ffffff;
  background-color: #d41342;
  border-radius: 22px;
  border: transparent;
}

@media screen and (min-width: 320px) {
  .contacts__button {
    margin-left: auto;
    margin-right: auto;
    padding: 0 17px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__button {
    padding: 0 30px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button {
    padding: 0 35px;
  }
}

.contacts__button.white {
  color: #d41443;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .contacts__button.white {
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) {
  .contacts__button.white {
    padding: 0 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__button.white {
    padding: 0 38px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__button.white {
    padding: 0 39px;
  }
}

.contacts__button.white:hover,
.contacts__button.white:focus {
  background-color: #ecebeb;
}

.icon-vector {
  margin-left: 13px;
  fill: #ffffff;
}

.icon-vector.red {
  fill: #d41443;
}
