.products {
  padding-top: 100px;
  padding-bottom: 120px;
}
.container__card-product {
  border-radius: 24px;
}
.container__card-product_color-one {
  background-color: var(--header-color);
}
.container__card-product_color-two {
  background-color: var(--coffee-color);
}
.container__card-product_color-three {
  background-color: var(--green-color);
}

@media screen and (max-width: 767px) {
  .container__card-product {
    position: relative;
    width: 280px;
    height: 485px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .container__card-product:not(:last-child) {
    margin-bottom: 130px;
  }
  .container__list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__list-card_item-1 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -23.5%;
    left: 5.5%;
  }
  .container__list-card_item-2 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -23.5%;
    left: 5.5%;
  }
  .container__list-card_item-3 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -23.4%;
    left: 5.5%;
  }
  .products__quality {
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 144px;

    color: #d41443;
  }
  .products__name {
    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 152px;
    margin-bottom: 30px;

    color: var(--white-color);
  }
  .products__name_list-markers {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .products__name_markers {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .products__name_markers:not(:last-child) {
    margin-right: 4px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 30px;

    color: var(--white-color);
  }

  .products__btn {
    display: flex;
    margin: 0px auto;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .icon-btn {
    display: flex;
    margin: auto;
    width: 20px;
    height: 20px;
    fill: #d41443;
  }
}

@media screen and (min-width: 768px) {
  .container__card-product {
    position: relative;
    width: 220px;
    height: 485px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .container__card-product:not(:last-child) {
    margin-right: 20px;
  }
  .container__list-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__list-card_item-1 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -21.2%;
  }
  .container__list-card_item-2 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -22.5%;
  }
  .container__list-card_item-3 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -20.6%;
  }
  .products__quality {
    font-family: Titan One;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 150px;

    color: #d41443;
  }
  .products__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 152px;
    margin-bottom: 30px;

    color: var(--white-color);
  }
  .products__name_list-markers {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .products__name_markers {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .products__name_markers:not(:last-child) {
    margin-right: 4px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 40px;

    color: var(--white-color);
  }
  .products__description_addition {
    text-indent: -9999px;
    display: inline-block;
  }
  .products__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .icon-btn {
    display: flex;
    margin: auto;
    width: 20px;
    height: 20px;
    fill: #d41443;
  }
}

@media screen and (min-width: 1280px) {
  .container__card-product {
    width: 329px;
    height: 525px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .container__card-product:not(:last-child) {
    margin-right: 30px;
  }

  .container__list-card_item-1 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -39%;
  }
  .container__list-card_item-2 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -38.7%;
  }
  .container__list-card_item-3 {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -39%;
  }
  .products__quality {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 259px;

    color: #d41443;
  }
  .products__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 163px;
    margin-bottom: 32px;

    color: var(--white-color);
  }
  .products__name_list-markers {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
  .products__name_markers {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .products__name_markers:not(:last-child) {
    margin-right: 4px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-right: 0px;
    margin-bottom: 62px;

    color: var(--white-color);
  }
  .products__description_addition {
    text-indent: -9999px;
    display: inline-block;
  }
  .products__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--white-color);
  }
  .icon-btn {
    display: flex;
    margin: auto;
    width: 20px;
    height: 20px;
    fill: #d41443;
  }
}
