.container__card-product {
  border-radius: 24px;
}
.container__card-product_color-one {
  background-color: #ffb8ca;
}
.container__card-product_color-two {
  background-color: #f0d1a5;
}
.container__card-product_color-three {
  background-color: #c2e297;
}
@media screen and (max-width: 767px) {
  .container__card-product {
    width: 280px;
    height: 485px;
  }
  .container__card-product:not(:last-child) {
    margin-bottom: 16px;
  }
  .container__list-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products__quality {
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 31px;

    color: #d41443;
  }

  .products__name {
    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  //   .products__name::after {
  //     content: '';
  //     border: 1px solid #ffffff;
  //     transform: rotate(180deg);
  //     width: 26px;
  //     height: 6px;
  //   }
  .products__description-block {
    width: 200px;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
  }
  .products__btn {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container__card-product {
    width: 220px;
    height: 485px;
  }
  .container__card-product:not(:last-child) {
    margin-right: 20px;
  }
  .container__list-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products__quality {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 39px;

    color: #d41443;
  }
  .products__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .products__description-block {
    overflow: hidden;
    width: 198px;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
  }
  .products__description_addition {
    font-size: 0;
  }
  .products__btn {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    padding: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .container__card-product {
    width: 329px;
    height: 525px;
  }
  .container__card-product:not(:last-child) {
    margin-right: 30px;
  }
  .products__quality {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 15px;

    color: #ffa5ba;
  }
  .products__title {
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 49px;

    color: #d41443;
  }
  .products__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .products__description-block {
    width: 241px;
    height: 106px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .products__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
  }
  .products__btn {
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
  }
}
